.u-section-1 {
  min-height: 733px;
}

.u-section-1 .u-login-1 {
  margin: 32px calc(((100% - 1140px) / 2) + -41px) 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 26px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 693px;
  pointer-events: auto;
  background-image: url("images/11062b_84ae29be727642b595e2287873937270_mv2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 693px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  margin: 235px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 619px;
  }

  .u-section-1 .u-login-1 {
    height: 25px;
    margin-right: calc(((100% - 940px) / 2) + -41px);
  }

  .u-section-1 .u-image-1 {
    min-height: 571px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 571px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 494px;
  }

  .u-section-1 .u-login-1 {
    margin-right: calc(((100% - 720px) / 2) + -41px);
  }

  .u-section-1 .u-image-1 {
    min-height: 437px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 800px;
  }

  .u-section-1 .u-login-1 {
    margin-right: calc(((100% - 540px) / 2) + -41px);
  }

  .u-section-1 .u-image-1 {
    min-height: 656px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 571px;
  }

  .u-section-1 .u-login-1 {
    margin-right: calc(((100% - 340px) / 2) + -41px);
  }

  .u-section-1 .u-image-1 {
    min-height: 413px;
  }
}