.u-section-1 {
  background-image: none;
  min-height: 726px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -18px;
  margin-bottom: 28px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/a45921faf927b54a7ea36647224ce4ebb2098e55bbaffbf51ce1d2dbce7e404ab08a490a320e58a1732d711a2cb9c88c5856df7322d60afa584404_1280.jpg");
  min-height: 716px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 716px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 50px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin: 32px 0 0;
}

.u-section-1 .u-form-1 {
  height: 454px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: auto;
}

.u-section-1 .u-form-group-2 {
  margin-left: auto;
}

.u-section-1 .u-form-group-3 {
  margin-left: auto;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: auto;
  letter-spacing: normal;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin: -27px auto 0 177px;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 133px 156px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 555px;
  }

  .u-section-1 .u-image-1 {
    min-height: 590px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 590px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-form-1 {
    margin-left: initial;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 77px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 56px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 452px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 7px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 678px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 427px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}