.u-section-1 .u-sheet-1 {
  min-height: 855px;
}

.u-section-1 .u-text-1 {
  margin: 4px 958px 0 0;
}

.u-section-1 .u-table-1 {
  width: 1120px;
  margin: 30px auto 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
  font-size: 5em;
}

.u-section-1 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-icon-4 {
  color: rgb(255, 255, 255) !important;
  font-size: 5em;
}

.u-section-1 .u-icon-5 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-icon-6 {
  color: rgb(255, 255, 255) !important;
  font-size: 5em;
}

.u-section-1 .u-icon-7 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-icon-8 {
  color: rgb(255, 255, 255) !important;
  font-size: 5em;
}

.u-block-c18d-35 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -546px auto 0 695px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 101px auto 0 695px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 101px auto 0 695px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 94px auto 0 695px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -492px auto 0 847px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 101px auto 0 847px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 101px auto 0 847px;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 94px auto 0 847px;
}

.u-section-1 .u-icon-9 {
  font-size: 5em;
  height: 109px;
  width: 1140px;
  color: rgb(255, 255, 255) !important;
  margin: 67px auto 4px 1060px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 758px;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 495px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 495px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 495px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 495px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 647px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 647px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 647px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 647px;
  }

  .u-section-1 .u-icon-9 {
    font-size: 5rem;
    margin-left: 874px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 538px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 275px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 275px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 275px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 275px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 427px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 427px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 427px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 427px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 669px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 358px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 95px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 95px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 95px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 95px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 247px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 247px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 247px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 247px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 502px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 158px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 47px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 47px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 47px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 47px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 316px;
  }
}